html,
body {
    font-family: $Iconic-regular;
    font-size: 1.2rem;
    line-height: 1.25rem;
}

img {
    width: 100%;
}
.max-w-1080{
    max-width: 1080px;
    margin: auto;
}
.home-container {
    .banner {
        background-color: #0e0e0e;
    }
    .sect-1 {
        background-color: #0e0e0e;
    }
    .sect-2{
        background-color: #010005;
    }
    .sect-3{
        background-color: #040309;
    }
    .sect-4{
        background-color: #000000;
    }
    .sect-5{
        background-color: #000000;
        padding: 3rem 0;
        .img-item{
            max-width: 540px;
        }
    }
}